{{define "deck/list.html"}}
<header>
  {{template "public/back.html"}}
  {{with .Kind}}
  {{.KindName}}
  <span class="tool">
    <a href="javascript:Href('kind/modify?kindId={{.KindId}}', 1)"><img src="/static/icon/pencil.svg" /></a>
    <a href="javascript:Href('deck/create?kindId={{.KindId}}', 1)"><img src="/static/icon/plus-circle.svg" /></a>
  </span>
  {{end}}
</header>

<dl>
  {{range .Deck}}
  <a href="javascript:Href('card/list?kindId={{.KindId}}&deckId={{.DeckId}}', 1)">
    <dt>
      <img src="/static/icon/tag.svg" />
      {{.DeckName}}
    </dt>
  </a>
  {{end}}
</dl>
{{end}}