{{define "deck/remove.html"}}
<header>
  {{template "public/back.html"}}
  删除卡组
</header>

<form onsubmit="return Submit('deck/delete', -2)">
  <main class="edit" style="height:100%">
    {{with .Deck}}
    <input value="{{.DeckName}}" placeholder="卡组名" disabled />
    <input name="deckId" value="{{.DeckId}}" type="hidden" />
    {{end}}
    <textarea style="height:calc(100% - 9rem)" placeholder="卡片名" disabled>{{.Fronts}}</textarea>
  </main>

  <footer>
    <button type="button" class="double" onclick="history.back()">取消</button>
    <button type="submit" class="double orange">删除</button>
  </footer>
</form>
{{end}}