{{define "kind/modify.html"}}
<header>
  {{template "public/back.html"}}
  修改类型
  <span class="tool">
    <a href="javascript:Href('kind/remove?kindId={{.Kind.KindId}}', 1)"><img src="/static/icon/trash.svg" /></a>
  </span>
</header>

<form onsubmit="return Submit('kind/update', -1)">
  <main class="edit" style="height:100%">
    {{with .Kind}}
    <input name="kindName" value="{{.KindName}}" placeholder="类型名" />
    <input name="kindId" value="{{.KindId}}" type="hidden" />
    {{end}}
  </main>

  <footer>
    <button type="submit">保存</button>
  </footer>
</form>
{{end}}