{{define "card/index.html"}}
<header>
  卡片管理
</header>

<dl>
  <div style="padding-left: 2rem; font-size: smaller; line-height: 2rem;">卡片类型</div>
  {{range .Kind}}
  <a href="javascript:Href('card/list?kindId={{.KindId}}', 1)">
    <dt>{{.KindName}}<img src="/static/icon/forward.svg" /></dt>
  </a>
  {{end}}

  <div class="hr"><span></span></div>

  <div style="padding-left: 2rem; font-size: smaller; line-height: 2rem;">卡组类型</div>
  {{range .Kind}}
  <a href="javascript:Href('deck/list?kindId={{.KindId}}', 1)">
    <dt>{{.KindName}}<img src="/static/icon/forward.svg" /></dt>
  </a>
  {{end}}

</dl>

{{template "public/nav.html"}}
{{end}}