{{define "card/remove.html"}}
<header>
  {{template "public/back.html"}}
  删除卡片
</header>

{{with .Card}}
<form onsubmit="return Submit('card/delete', -2)">
  <main class="edit">
    <input name="front" placeholder="正面" value="{{.Front}}" disabled />
    <input name="pinyin" placeholder="拼音" value="{{.Pinyin}}" disabled {{if and (ne .KindId 2) (ne .KindId
      3)}}type="hidden" {{end}} />
    <textarea name="back" placeholder="背面" style="height:11rem" disabled>{{.Back}}</textarea>
    <input name="helper" placeholder="助记" value="{{.Helper}}" disabled />
    <input name="cardId" value="{{.CardId}}" type="hidden">

    <button type="button" class="double" onclick="history.back()">取消</button>
    <button type="submit" class="double orange">删除</button>
  </main>
</form>
{{end}}
{{end}}