{{define "pract/create.html"}}
<header>
  {{template "public/back.html"}}
  新建练习
</header>

<form onsubmit="return Submit('pract/insert', -1)">
  <main class="edit" style="height:100%">
    <input name="practName" placeholder="练习名" />

    <section>
      练习方式<br>
      {{range .Mode}}
      <button onclick="setRadio('modeId', '{{.ModeId}}',this)" type="button" style="width:auto">{{.ModeName}}</button>
      {{end}}
      <input name="modeId" value="1" type="hidden">
    </section>

    <section>
      练习内容<br>
      {{range .Dir}}
      <button onclick="setRadio('dirId', '{{.DirId}}',this)" type="button" style="width:auto">{{.DirName}}</button>
      {{end}}
      <input name="dirId" value="1" type="hidden">
    </section>

    <button type="submit">保存</button>
  </main>
</form>

<script>
  $(function () {
    setRadio('modeId', 1, $("section").eq(0).find("button").eq(0))
    setRadio('dirId', 1, $("section").eq(1).find("button").eq(0))
  });
</script>
{{end}}