{{define "learn/create.html"}}
<header>
  {{template "public/back.html"}}
  新建项目
</header>

<form onsubmit="return Submit('learn/insert', -1)">
  <main class="edit" style="height:100%">
    <input name="learnName" placeholder="项目名" />
    <input name="modeId" value="1" type="hidden">
    <input name="kindId" value="1" type="hidden">

    <section>
      学习方式<br>
      {{range .Mode}}
      <button onclick="javascript:setMode('{{.ModeId}}',this)" type="button" style="width:auto">{{.ModeName}}</button>
      {{end}}
    </section>

    <section>
      学习内容<br>
      {{range .Kind}}
      <button onclick="javascript:setKind('{{.KindId}}',this)" type="button" style="width:auto">{{.KindName}}</button>
      {{end}}
    </section>

    <button type="submit">保存</button>
  </main>
</form>

<script>
  $(function () {
    setMode(1, $("section").eq(0).find("button").eq(0))
    setKind(1, $("section").eq(1).find("button").eq(0))
  });

  function setMode(modeId, e) {
    $(e).siblings("button").attr("class", "white")
    $(e).attr("class", "green")
    $("input[name='modeId']").val(modeId)

    btn = $("section").eq(1).find("button")
    kind = $("input[name='kindId']").val()

    if (modeId == 3 || modeId == 4) {
      btn.hide()
      btn.eq(1).show()
      btn.eq(2).show()
      if (kind == 1 || kind == 4) {
        setKind(2, btn.eq(1))
      }
    } else {
      btn.show()
      btn.eq(1).hide()
      btn.eq(2).hide()
      if (kind == 2 || kind == 3) {
        setKind(1, btn.eq(0))
      }
    }
  }

  function setKind(kindId, e) {
    $(e).siblings("button").attr("class", "white")
    $(e).attr("class", "green")
    $("input[name='kindId']").val(kindId)
  }
</script>
{{end}}