{{define "learn/detail.html"}}
{{$Deck := .Deck}}
{{with .Learn}}
<header>
  {{template "public/back.html"}}
  {{.LearnName}}
  <span class="tool">
    <a href="javascript:Href('learnDeck/list?kindId={{.KindId}}&learnId={{.LearnId}}', 1)">
      <img src="/static/icon/read_more.svg" />
    </a>
  </span>
</header>

<main>
  <section style="height: 8rem;">
    <div style="width: 50%; float: left;">
      今天<br> 40 个<br> 20 分钟
    </div>
    <div style="width: 50%; float: left;">
      累计<br> 3000 个<br> 5000 分钟
    </div>
  </section>

  <section>
    30 / 100 个 （5 分钟）
    <progress value="30" max="100"></progress>
    <button onclick="Href('learn?kind=2&mode=3', 1)" type="button">复习</button>
  </section>

  <section>
    5 / 10 个 （10 分钟）
    <progress value="50" max="100"></progress>
    <button onclick="Href('learn?kind=2&mode=3', 1)" type="button">讲解</button>
  </section>

  <section>
    <a href="javascript:Href('learnDeck/list?kindId={{.KindId}}&learnId={{.LearnId}}', 1)">
      <img src="/static/icon/read_more.svg" style="position:absolute; right:3rem" />
      <div>
        {{$Deck.DeckName}}<br>
        20 / 100 个
        <progress value="20" max="100"></progress>
        5 个 （5 分钟）
      </div>
    </a>
    <button onclick="Href('learn?kind=2&mode=3', 1)" type="button">新学</button>
  </section>
</main>
{{end}}
{{end}}