<el-container>
  <el-header>
    <el-icon @click="$router.back()" :size="20" style="padding-left:18px; position:fixed; left:0;">
      <ArrowLeft />
    </el-icon>
    <div style="position:fixed; left:64px; right:24px;">
      <el-input v-model="Query" @keyup.enter.native="search" placeholder="搜索" clearable />
    </div>
  </el-header>
  <el-main style="padding:0;">
    <router-link :to="'modify?cardId='+CardId" v-for="{ CardId, Front } in Card" class="list">
      <el-icon :size="20">
        <Document />
      </el-icon>{{ Front }}
    </router-link>
  </el-main>
</el-container>