* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    font-size: 1.125rem;
    margin: 0;
    outline: none;
    resize: none;
}

html {
    font-size: 1rem;
}

body {
    background: #ffffff;
}

a {
    color: #000000;
    text-decoration: none;
}

img {
    vertical-align: -9%;
}

header {
    background: #ffffff;
    height: 4rem;
    line-height: 4rem;
    padding: 0 1.25rem 0 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header div {
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: -1;
}

main {
    padding: 4rem 0 4rem 0;
    position: absolute;
    width: 100%;
}

footer {
    bottom: 0;
    height: 5.5rem;
    padding: 0 1.5rem;
    position: fixed;
    width: 100%;
}

nav {
    background: #ffffff;
    padding: 0;
    line-height: 4rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav div {
    text-align: center;
    width: 25%;
    float: left;
}

textarea {
    border: 0;
    border-radius: 1rem;
    box-shadow: inset 0rem 0rem 0rem 0.0625rem #dddddd;
    display: block;
    height: 11rem;
    margin: 0.5rem;
    padding: 1rem;
    width: calc(100% - 1rem);
}

input {
    width: calc(100% - 1rem);
    -webkit-appearance: none;
    border: 0;
    border-radius: 1rem;
    box-shadow: inset 0rem 0rem 0rem 0.0625rem #dddddd;
    height: 3rem;
    margin: 0.5rem;
    padding: 0 1rem;
}

input[type=search] {
    width: calc(100% - 6rem);
}

button {
    background: #41b382;
    border: 0;
    border-radius: 1.5rem;
    color: #ffffff;
    line-height: 3rem;
    padding: 0 2rem;
    margin: 0.5rem;
    width: calc(100% - 1rem);
}

.back {
    float: left;
    padding: 0 1rem 0 2rem;
}

.tool {
    float: right;
    padding: 0 0.75rem;
}

.center {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.setting {
    background: #ffffff;
    line-height: 3.5rem;
    display: block;
    padding-left: 2rem;
    position: relative;
}

.setting span {
    float: right;
    padding-right: 2rem;
}

.hr {
    background: #ffffff;
    padding: 1rem 2rem;
}

.hr span {
    border-top: 0.0625rem solid #eeeeee;
    display: block;
}

.orange {
    background: #ed9266;
}

.dual {
    width: calc(50% - 1rem);
    float: left;
}

.edit {
    padding: 4rem 1.5rem 1.5rem 1.5rem;
}

section {
    box-shadow: inset 0rem 0rem 0rem 0.0625rem #dddddd;
    background: #ffffff;
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
}