* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    font-size: 1.125rem;
    margin: 0;
    outline: none;
    resize: none;
}

a {
    color: #000000;
    text-decoration: none;
}

body {
    background: #ffffff;
}

button {
    background: #41b382;
    border: 0;
    border-radius: 1.5rem;
    color: #ffffff;
    line-height: 3rem;
    padding: 0 2rem;
    margin: 0.5rem;
    width: calc(100% - 1rem);
}

dl {
    padding: 4rem 0;
}

dt {
    line-height: 3.5rem;
    padding: 0 2rem;
}

.forward {
    float: right;
    margin-top: 1.125rem;
    opacity: 0.3;
}

.dt2 {
    height: 3.5rem;
    padding: 0.5rem 2rem;
    line-height: 1.75rem;
    border: 0px solid gray
}

.dt2 span {
    position: absolute;
    right: 2rem;
    color: #999;
    font-size: small;
}

.dt2 progress {
    vertical-align: top;
    height: 0.375rem;
}


footer {
    bottom: 0;
    height: 5.5rem;
    padding: 0 1.5rem;
    position: fixed;
    width: 100%;
}

header {
    background: #ffffff;
    height: 4rem;
    line-height: 4rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    text-align: center;
}

html {
    font-size: 1rem;
}

img {
    vertical-align: -4%;
    width: 1.125rem;
}

input {
    width: calc(100% - 1rem);
    -webkit-appearance: none;
    border: 0;
    border-radius: 1rem;
    box-shadow: inset 0rem 0rem 0rem 0.0625rem #dddddd;
    height: 3rem;
    margin: 0.5rem;
    padding: 0 1rem;
}

input[type=search] {
    width: calc(100% - 7rem);
    margin: 0 2rem 0 5rem;
}

main {
    padding: 4rem 1.5rem;
    position: absolute;
    width: 100%;
}

nav {
    background: #ffffff;
    padding: 0;
    line-height: 4rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav div {
    text-align: center;
    width: 25%;
    float: left;
}

nav img{
    width: 1.25rem;
}

progress {
    background: #ffffff;
    width: 100%;
    vertical-align: middle;
    height: 0.5rem;
}

progress::-webkit-progress-bar {
    background: #eeeeee;
    border-radius: 0.5rem;
}

progress::-webkit-progress-value {
    background: #70be80;
    border-radius: 0.5rem;
}

section {
    box-shadow: inset 0rem 0rem 0rem 0.0625rem #dddddd;
    background: #ffffff;
    border-radius: 1rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    padding: 1rem;
    line-height: 2rem;
    text-align: center;
}

textarea {
    border: 0;
    border-radius: 1rem;
    box-shadow: inset 0rem 0rem 0rem 0.0625rem #dddddd;
    display: block;
    height: 11rem;
    margin: 0.5rem;
    padding: 1rem;
    width: calc(100% - 1rem);
}

.back {
    position: fixed;
    padding: 0 1rem 0 2rem;
    left: 0rem;
}

.tool {
    position: fixed;
    right: 1.5rem;
    font-size: 0;
}

.tool a {
    padding: 1.375rem 0.5rem;
}

.center {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.hr {
    background: #ffffff;
    padding: 1rem 2rem;
}

.hr span {
    border-top: 0.0625rem solid #eeeeee;
    display: block;
}

.orange {
    background: #ed9266;
    color: #ffffff;

}

.green {
    background: #41b382;
    color: #ffffff;
}

.white {
    background: #ffffff;
    color: #000000;
}

.double {
    width: calc(50% - 1rem);
    float: left;
}

.triple {
    width: calc(33% - 1rem);
    float: left;
    padding: 0;
}

.edit {
    padding: 4rem 1.5rem 1.5rem 1.5rem;
}