{{define "dir/remove.html"}}
<header>
  {{template "public/back.html"}}
  删除文件夹
</header>

<form onsubmit="return Submit('dir/delete', -3)">
  <main class="edit" style="height:100%">
    {{with .Dir}}
    <input value="{{.DirName}}" placeholder="文件夹名" disabled />
    <input name="dirId" value="{{.DirId}}" type="hidden" />
    <div class="warning">
      <img src="/static/icon/exclamation-triangle-fill.svg" />
      即将删除【{{.DirName}}】中的全部卡片！
    </div>
    {{end}}
  </main>

  <footer>
    <button type="button" class="double" onclick="history.back()">取消</button>
    <button type="submit" class="double orange">删除</button>
  </footer>
</form>
{{end}}