<el-container>
  <el-header>
    <el-icon @click="$router.back()" :size="20" style="padding-left:18px; position:fixed; left:0;">
      <ArrowLeft />
    </el-icon>
    新建卡片
  </el-header>
  <el-main>
    <el-space :size="24" direction="vertical" style="display:block;">
      <el-input v-model="Card.Front" placeholder="正面" />
      <el-input v-model="Card.Back" resize="none" :rows="7" type="textarea" placeholder="背面" />
      <el-input v-model="Card.Helper" placeholder="助记" />
      <el-button @click="postData" type="primary" style="width:100%;">保存</el-button>
    </el-space>
  </el-main>
</el-container>