<q-layout view="hHh lpR fFf" class="text-large">
  <q-header class="bg-white text-black">
    <q-toolbar>
      <div class="col text-left">
        <q-btn @click="$router.back()" flat round icon="o_arrow_back_ios"></q-btn>
      </div>
      <div class="col text-center">修改文件夹</div>
      <div class="col text-right">
        <q-btn @click="drawer=true" flat round icon="o_delete_outline"></q-btn>
      </div>
    </q-toolbar>
  </q-header>

  <q-page-container class="q-pa-lg q-gutter-lg">
    <q-input v-model="Dir.DirName" placeholder="文件夹名" outlined></q-input>
    <div>
      <q-btn @click="postData" color="blue" class="full-width" size="large" label="保存" rounded unelevated></q-btn>
    </div>
  </q-page-container>

  <q-dialog v-model="drawer" position="bottom" full-width class="text-large">
    <q-card class="bg-white text-center q-pa-lg q-gutter-y-lg">
      删除文件夹？
      <div class="row q-gutter-x-lg">
        <div class="col">
          <q-btn @click="drawer=false" color="grey" class="full-width" size="large" label="取消" rounded unelevated>
          </q-btn>
        </div>
        <div class="col">
          <q-btn @click="delData" color="blue" class="full-width" size="large" label="确认" rounded unelevated></q-btn>
        </div>
      </div>
    </q-card>
  </q-dialog>
</q-layout>