<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link href="/static2/quasar.css" rel="stylesheet" type="text/css">
  <link href="/static2/material-icons.css" rel="stylesheet" type="text/css">
  <script src="/static2/vue.js"></script>
  <title>quasar</title>
</head>

<body>
  <div id="q-app">
    <q-layout view="hHh LpR fFf">
      <q-header class="bg-white text-black">头</q-header>
      <q-page-container>
        <div class="q-pa-md">
          <div class="q-mt-md q-gutter-md">
            <q-icon name="font_download" color="primary" size="32px"></q-icon>
            <q-icon name="warning" color="warning" size="4rem"></q-icon>
            <q-icon name="format_size" style="color: #ccc; font-size: 1.4em;"></q-icon>
            <q-icon name="print" color="teal" size="4.4em"></q-icon>
            <q-icon name="today" class="text-orange" size="2em"></q-icon>
            <q-icon name="style" size="3em"></q-icon>
          </div>
        </div>

        <q-card class="q-ma-md xbg-primary">
          <q-card-section>
            卡片
          </q-card-section>
        </q-card>

        <div class="row q-px-md q-py-sm q-gutter-x-md">
          <div class="col">
            <q-btn @click="dialog=true" color="secondary" class="full-width" size="large" label="取消" rounded unelevated>
            </q-btn>
          </div>
          <div class="col">
            <q-btn color="primary" class="full-width" size="large" label="确认" rounded unelevated></q-btn>
          </div>
        </div>

        <div class="q-px-sm q-mt-sm">
          Your selection is: <strong>{{ myradio }}</strong>
        </div>
        <q-list class="text-body1">
          <q-item tag="label">
            <q-item-section avatar>
              <q-radio v-model="myradio" val="1"></q-radio>
            </q-item-section>
            <q-item-section>
              <q-item-label>单选1</q-item-label>
            </q-item-section>
          </q-item>
          <q-item tag="label" v-ripple>
            <q-item-section avatar>
              <q-radio v-model="myradio" val="2"></q-radio>
            </q-item-section>
            <q-item-section>
              <q-item-label>单选2</q-item-label>
            </q-item-section>
          </q-item>
          <q-item tag="label" v-ripple>
            <q-item-section avatar>
              <q-radio v-model="myradio" val="3"></q-radio>
            </q-item-section>
            <q-item-section>
              <q-item-label>单选3</q-item-label>
            </q-item-section>
          </q-item>

          <q-item tag="label" v-ripple>
            <q-item-section side top>
              <q-checkbox v-model="check1"></q-checkbox>
            </q-item-section>
            <q-item-section>多选1</q-item-section>
          </q-item>
          <q-item tag="label" v-ripple>
            <q-item-section side top>
              <q-checkbox v-model="check2"></q-checkbox>
            </q-item-section>
            <q-item-section>多选2</q-item-section>
          </q-item>

          <q-item clickable v-ripple class="text-h6" v-for="i in 5" :key="i">
            <q-item-section>{{i}} 取消 确认 text-h6</q-item-section>
          </q-item>

          <q-item clickable v-ripple style="font-size:1.125rem;" v-for="i in 5" :key="i">
            <q-item-section>{{i}} 取消 确认 1.125rem</q-item-section>
          </q-item>
          <q-item clickable v-ripple v-for="i in 5" :key="i">
            <q-item-section>{{i}} 取消 确认</q-item-section>
          </q-item>
        </q-list>
      </q-page-container>
      <q-footer class="bg-white">
        <div class="q-pa-md">
          <div class="row q-col-gutter-x-md">
            <div class="col-6">
              <q-btn rounded color="green" class="full-width" size="large" label="取消"></q-btn>
            </div>
            <div class="col-6">
              <q-btn rounded color="primary" class="full-width" size="large" label="确认"></q-btn>
            </div>
          </div>
        </div>
      </q-footer>
    </q-layout>

    <q-dialog v-model="dialog" position="bottom" full-width class="rounded-xl">
      <q-list class="text-body1 text-bold	bg-white ">
        <q-item class="text-center">
          <q-item-section>
            <q-item-label>选项</q-item-label>
          </q-item-section>
        </q-item>

        <q-item tag="label" v-ripple>
          <q-item-section avatar>
            <q-radio v-model="color" val="red" color="red" />
          </q-item-section>
          <q-item-section>
            <q-item-label>红色</q-item-label>
          </q-item-section>
        </q-item>
        <q-item tag="label" v-ripple>
          <q-item-section avatar>
            <q-radio v-model="color" val="orange" color="orange" />
          </q-item-section>
          <q-item-section>
            <q-item-label>黄色</q-item-label>
          </q-item-section>
        </q-item>
        <q-item tag="label" v-ripple>
          <q-item-section avatar>
            <q-radio v-model="color" val="blue" color="blue" />
          </q-item-section>
          <q-item-section>
            <q-item-label>蓝色</q-item-label>
          </q-item-section>
        </q-item>
        <q-item tag="label" v-ripple v-for="i in 12" :key="i">
          <q-item-section avatar>
            <q-radio v-model="color" val="cyan" color="cyan" />
          </q-item-section>
          <q-item-section>
            <q-item-label>青色{{i}}</q-item-label>
          </q-item-section>
        </q-item>

        <div class="row q-pa-md q-gutter-x-md">
          <div class="col">
            <q-btn color="secondary" class="full-width" size="large" label="取消" rounded unelevated>
            </q-btn>
          </div>
          <div class="col">
            <q-btn color="primary" class="full-width" size="large" label="确认" rounded unelevated></q-btn>
          </div>
        </div>
    </q-dialog>
  </div>
  <script src="/static2/quasar.js"></script>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          check1: true,
          check2: false,
          color: 'red',
          dialog: false,
          myradio: 0,
        }
      },
    })

    app.use(Quasar, {
      config: {
        brand: {
          primary: '#2196f3',
          secondary: '#9e9e9e',
          white: '#ffffff'
        }
      }
    })

    app.mount('#q-app')
  </script>
</body>

</html>