{{with .Card}}
<header>
  {{template "publicBack.html"}}
  修改卡片
  <span class="tool">
    <a href="javascript:Href('card/remove?cardId={{.CardId}}', 1)"><img src="/static/icon/delete.svg" /></a>
  </span>
</header>

<form onsubmit="return Submit('card/update', -1)">
  <main class="edit">
    <input name="front" placeholder="正面" value="{{.Front}}" />
    <input name="pinyin" placeholder="拼音" value="{{.Pinyin}}" {{if and (ne .KindId 2) (ne .KindId 3)}}type="hidden"
      {{end}} />
    <textarea name="back" placeholder="背面">{{.Back}}</textarea>
    <input name="helper" placeholder="助记" value="{{.Helper}}" />
    <input name="cardId" value="{{.CardId}}" type="hidden">

    <button type="submit">保存</button>
  </main>
</form>
{{end}}